# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [5]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 8.9
print(numberFloat)

2.3
8.9

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1=2
num2=5.4
result = num1+num2
print(result)

# result += 2
print(result +2)

7.4
9.4

##### Subtraction

In [15]:
result_diff = 5 - num1
print(result_diff)

3

##### Multiplication

In [18]:
result_mul = num1 *num2
print(result_mul)
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [20]:
result_div = num2/num1
print(result_div)
result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [22]:
result_floor = num2//num1
print(result_floor)
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [27]:
result_mod = 13 % 2

print(result_mod)
result_mod %=2
print(result_mod)

1
1

##### Exponential

In [28]:
square =5**2
print(square)

25

### String Input-Output

##### String Assignment

In [31]:
name = "Ethan"
print(name)

Ethan

##### print() <br>
<p>Don't forget about end=' '</p>

In [36]:
print("this is my first name: ", name)
print("full name:", name, end=" Manley")

this is my first name:  Ethan
full name: Ethan Manley

##### String Concatenation

In [40]:
first_name = "Ethan"
last_name = "Manley"

full_name = first_name + " " + last_name
print(full_name)

full_name+= ", Jr"
print(full_name)

Ethan Manley
Ethan Manley, Jr

##### Type Conversion

In [41]:
number = 32

change_type_num = int(number)
print(number)
print(change_type_num)

32

####Input()####

In [45]:
#Always return a string
name = input('what is your name?')
print("Nice to meet you, " + name)

age = int(input("age?"))
add_age = age + 5
print(add_age)

what is your name?j
Nice to meet you, j
age?4
9

##### format()

In [48]:
age = input("what is your age?")
result_string = "You are {} {} and your are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is your age?4
You are 4 j and your are getting wiser!
4 is a great time in life!!!

##### Old Way (python 2)

In [49]:
result_string2 = "Your are %s and you look great for your age" %age
print(result_string2)

Your are 4 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [58]:
color = input("What is the color of your car?")
year = input("what is the year of your car")
make = input("what is the make of your car")
model = input("what is the model of your car")

sentence = (f"My car is a, {color} {year} {make} {model}")
print(sentence)

What is the color of your car?r
what is the year of your cart
what is the make of your cary
what is the model of your caru
My car is a, r t y u

### If Statements

In [78]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

if num2 > num1 or num3 > 0:
    print("num2 is greater")
    
else:
    print("Equal values")

num2 is greater

##### 'is' keyword

In [82]:
#This is for checking for same object but not the same value

num3 = 5
if num3 == 5:
    print("this is the same")

this is the same

##### 'in' keyword

In [83]:
#check if character is in string

char_name = "frodo baggins"

if "frodo" in char_name:
    print("indeed")

indeed

##### 'not in' keyword'

In [85]:
#check if character is not in string

char_name = "sonic"

if "z" not in char_name:
    print("not here indeed")

indeed

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [89]:
ask_user = input("Say anything")
if "p" in ask_user:
    print("it is")
else:
    print("it is not")

Say anythingpop rock
it is

## Using 'and'/'or' with If Statements

In [93]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")
    
if num_11 > num_12 or num_13 == num_14:
    print("true and false")

true and true
true and false

### Elif Statements

In [97]:
first_name = input("name?")

if first_name == "smith":
    print("so it is smith huh")
elif first_name == "nice":
    print("hehe.. nice")
else:
    print("what kind of name is that")

name?nice
hehe.. nice

### Else Statements

In [ ]:
# see above

### For Loops

In [109]:
#syntax
# for counter in condition
# "for" and "in" are in every for loop
name = "Ethan Manley"

for anything_we_want_to_call_this in name:
    print(anything_we_want_to_call_this)

E
t
h
a
n

M
a
n
l
e
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [115]:
name = "Ethan Manley"

for i in name:
    if i == "a":
        continue
    print(i)

E
t
h
n

M
n
l
e
y

##### Break Statement

In [ ]:
# will break out of current loop

In [209]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [117]:
name = "Ethan Manley"

for i in name:
    pass

##### Double For Loops

In [118]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [121]:
#continue as long as it is true
#syntax:
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [126]:
#avoid, bad practice

game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("would you like to stop? ")
    if user_input == "Yes":
        game_over = False

Infinite Loop
would you like to stop? no
Infinite Loop
would you like to stop? yes
Infinite Loop
would you like to stop? Yes

##### While & For Loops Used Together

In [129]:
num = 0

while num < 5:
    print("/n While loop iteration: " + str(num))
    
    for i in range(2):
        print("for loop iteration: ", str(i))
        
        num += 1

/n While loop iteration: 0
for loop iteration:  0
for loop iteration:  1
/n While loop iteration: 2
for loop iteration:  0
for loop iteration:  1
/n While loop iteration: 4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [164]:
#range (start, stop, step)

for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [165]:
name = input("give me the name of your favorite book: ")

length = len(name)
print(length)

give me the name of your favorite bookfffff
5

##### help()

In [167]:
#Use to give more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [175]:
#check a variable to find out object family/data type it belongs to


num = input("pick a number")

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is an float")

pick a number5.5
5.5 is an float

##### abs()

In [176]:
#|-5| = 5

print(abs(-5))

5

### Try and Except

In [182]:
#use this to log out graceful and useful error messages
#does not stop the program!

try:
    number_test = 0
    input_num = int(input("guess a number"))
    if input_num !=input_num + number_test:
        print("your number is " + input_num)
except:
    print("that didn't work.. change your input to a number")

guess a numberf
that didn't work.. change your input to a number

###Lists

Declaring Lists

In [183]:
list_1 = []

names = ["max", "cindy", "kathy", "bob", "nate"]
print(isinstance(names, list))

True

##### Indexing a List

In [191]:
# list_name[start: stop: step]
#single index
print(names[1])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of a list until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

cindy
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [197]:
names.append("brandon")
print(names)

['max', 'cindy', 'devon', 'bob', 'nate', 'brandon', 'brandon', 'brandon', 'brandon']

##### .insert()

In [193]:
names.insert(3, "devon")
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [199]:
#defaults to last value if no perameter is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

devon
['max', 'cindy', 'nate', 'brandon', 'brandon', 'brandon', 'brandon']
['max', 'cindy', 'nate']


##### .remove()

In [200]:
#value to be removed rather than index
names.remove("bob")
print(names)

#remove multiple brandons from list
while "brandon" in names:
    names.remove("brandon")
print(names)

ValueError: list.remove(x): x not in list

del()

In [201]:
#goes by index rather than value
#be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'nate']

Concatenating Two Lists

In [203]:
#will append two lists together, will NOT add the values
list_1 = [0, 1, 2]
list_2 = [3, 4, 5]

large_list = list_1 + list_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lists can hold any data type including other lists
# they can go as deep as you want; this is called nested lists

names = ["max", "sam", "josh", ["sally", ["sue", "jim"] "tameka"]]
print(names[3][1])

##### Looping Through Lists

In [206]:
#two ways to loop through list! one is by index, the other is by using the "in" keyword

#by keyword
for i in range(len(names)):
    print(names[i])
    
#loop with in
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tameka']
3
3
3
3

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [153]:
cube_num = 1

while cube_num < 1000:
    cubed_num = cube_num**3
    print(cubed_num)
    cube_num += 1
    if cubed_num>=1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

#A prime number is a whole number greater than 1 whose only factors are 1 and itself.

min = 1
max = 100

for num in range(min, max + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [15]:
try:  
    
    age = int(input("What's your age?"))

    if age < 18:
        print("kids")
    elif age > 65:
        print("seniors")
    elif 18 <= age <= 65:
        print("adults")
except:
    print("invalid input. please enter a number")

What's your age?76
seniors